html,body{
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
header li{
    list-style: none;
}
.header-top{
    background: black;
    color: white;
    width: 100%;
}
.header-middle h1{
    margin-left: 200px;
    margin-top: 50px;
}
#span-1{
    float: left !important;
}
.header-middle{
    position: absolute;
    background-color: rgb(0, 86, 128);
    width: 100%;
}
.header-middle ul{
    position: relative;
    float: right;
    top: -70px;
    right: 150px;
}
.header-lower{
    background: rgb(0, 86, 128);
    margin: auto;

    position: relative;
    display: inline;
}
.header-lower ul li{
    display: inline;
    padding: 5px;
    margin-top: 500px;
}
.image{
    position: fixed;
    margin-left : 200px;
    margin-top: 170px;
}
.table-1{
    width: 50%;
    margin: auto;
}